@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .header {
        &__logo {
            a {
                width: 90%;
            }
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 96%;
        height: 96%;
        font-size: 12px;
        &_main {
            width: 200px;
            height: 46px;
            font-size: 13px;
        }
    }
    .promo {
        &__link {
            font-size: 14px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
            margin-top: 12px;
        }
    }
}